@page
@model Profesorii_Meditati.Pages.Recenzie.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4>Recenzie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recenzie.StudentId" class="control-label"></label>
                <input asp-for="Recenzie.StudentId" class="form-control" />
                <span asp-validation-for="Recenzie.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.ProfesorId" class="control-label"></label>
                <input asp-for="Recenzie.ProfesorId" class="form-control" />
                <span asp-validation-for="Recenzie.ProfesorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.Rating" class="control-label"></label>
                <input asp-for="Recenzie.Rating" class="form-control" />
                <span asp-validation-for="Recenzie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recenzie.Comentariu" class="control-label"></label>
                <input asp-for="Recenzie.Comentariu" class="form-control" />
                <span asp-validation-for="Recenzie.Comentariu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
