@page
@model Profesorii_Meditati.Pages.Programare.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Programare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Programare.StudentId" class="control-label"></label>
                <input asp-for="Programare.StudentId" class="form-control" />
                <span asp-validation-for="Programare.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.MeditatieId" class="control-label"></label>
                <input asp-for="Programare.MeditatieId" class="form-control" />
                <span asp-validation-for="Programare.MeditatieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.Data" class="control-label"></label>
                <!-- Modificare pentru a seta data minimă la ziua curentă -->
                <input asp-for="Programare.Data" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Programare.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programare.Stare" class="control-label"></label>
                <input asp-for="Programare.Stare" class="form-control" />
                <span asp-validation-for="Programare.Stare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
