@page
@model Profesorii_Meditati.Pages.Meditatie.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meditatie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meditatie.Id" />
            <div class="form-group">
                <label asp-for="Meditatie.ProfesorId" class="control-label"></label>
                <input asp-for="Meditatie.ProfesorId" class="form-control" />
                <span asp-validation-for="Meditatie.ProfesorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meditatie.Materie" class="control-label"></label>
                <input asp-for="Meditatie.Materie" class="form-control" />
                <span asp-validation-for="Meditatie.Materie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meditatie.Descriere" class="control-label"></label>
                <input asp-for="Meditatie.Descriere" class="form-control" />
                <span asp-validation-for="Meditatie.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meditatie.Durata" class="control-label"></label>
                <input asp-for="Meditatie.Durata" class="form-control" />
                <span asp-validation-for="Meditatie.Durata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meditatie.Pret" class="control-label"></label>
                <input asp-for="Meditatie.Pret" class="form-control" />
                <span asp-validation-for="Meditatie.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
